.team {

    height: 100%;
    width: 80%;
    display: inline;

    .player {

        background-color: lightcoral;

        .number {
            color: #ffffff;
        }
    }

    &.wide {
        width: 80%;
    }

    &.away {

        margin-left: auto;

        .goalkeeper {
            float: right;
        }

        .lines {
            float: left;
            flex-direction: row-reverse;
        }

        .player {

            background-color: lightblue;

            .number {
                color: #333333;
            }
        }
    }

    .goalkeeper {
        height: 100%;
        width: 25%;
        float: left;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .lines {

        height: 100%;
        width: 75%;
        float: right;
        display: flex;

        .line {

            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
    }


}
