.pitch {

    position: relative;
    background-repeat: round;

    &.responsive {
        padding-bottom: 58.3%;
        width: 100%;
    }

    &.fill {
        height: 100%;
        width: 100%;
    }

    &.small {
        height: 350px;
        width: 600px;
    }

    &.normal {
        height: 525px;
        width: 900px;
    }

    &.big {
        height: 700px;
        width: 1200px;
    }

    .teams {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
    }
}
