.example {

    .container {

        width: 100%;
        text-align: center;
        padding: 1rem 12rem;

        h1 {
            margin: 1em 0 2em 0;
            text-align: center;
        }

        & > div {

            margin: 0 auto;

            @media (min-width: 960px) {
                height: 525px;
                width: 900px;
                padding-bottom: unset;
            }
        }

        .controls {

            display: flex;
            flex-direction: column;
            text-align: left;

            margin: 1vw;

            .controls-row {

                display: inline-flex;
                justify-content: center;
                margin: 1vw;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            hr {
                width: 60%;
                margin-top: 25px;
            }

            .pattern {

                margin: 0 2.5vw 0 0;

                .p-dropdown {
                    width: 100px;
                }
            }

            .color {

                margin: 0 2.5vw;

                .colorpicker {

                    display: inline-flex;

                    p {
                        margin: 0 1em;
                        width: 50px;
                        line-height: 1.95em;
                    }
                }

            }

            .teams {

                margin: 0 0 0 2.5vw;

                .checkboxes {

                    display: inline-flex;
                    gap: 1.5rem;

                    .home {
                        display: flex;
                        gap: .5rem;
                    }

                    .away {
                        display: flex;
                        gap: .5rem;
                    }

                }

            }

            .team-section {

                margin: 0 2.5vw;

                h3 {
                    margin-top: 0;
                }

                .team-section-content {

                    display: flex;

                    .color {

                        margin: 0 1vw 0 0;

                        h4 {
                            margin-top: 0;
                        }
                    }
                }
            }

        }
    }
}
