.app {

    .container {

        width: 100%;
        text-align: center;

        h1 {
            margin: 1em 0 2em 0;
            text-align: center;
        }

        .pitch {

            margin: 0 auto;

            @media (min-width: 960px) {
                height: 525px;
                width: 900px;
                padding-bottom: unset;
            }
        }

        .controls {

            margin: 2em;
            display: inline-flex;

            .pattern {

                margin: 0 5vw 0 0;
                text-align: left;

                .p-dropdown {
                    width: 100px;
                }
            }

            .color {

                margin: 0 0 0 5vw;
                text-align: left;

                .colorpicker {

                    display: inline-flex;

                    p {
                        margin: 0 1em;
                        width: 50px;
                        line-height: 1.95em;
                    }
                }

            }

        }
    }
}
